* {
    padding: 0;
    margin: 0;
}
table {
    width: 100%;
}
table,th,td {
    border: 1px solid #333;
    border-collapse: collapse;
}
th,td {
    padding: 10px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color: #fff;
}
th {
    color: white;
    background-color: rgb(57, 113, 167);
}
#navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
button {
    width: 25%;
    height: 40px;
    border: none;
    outline: none;
    border-right: 1px solid #dedede;
}
button:hover {
    cursor: pointer;
    border: 1px solid darkgray;
    background-color: darkgray;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
.display{
    display: none;
}
.nav-display{
width: 15vw;
height: 20vh;
border: 1px solid black;

}
.nav-display ul {
height: 20vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
margin-left: 2vw;
}

.display-content{
    position: relative;
    top:-20vh;
    left: 20vw;
    width: 70vw;
    border: 1px solid black;
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
}

#portcontent{
    display: none;
    justify-content: space-around;
}

.produce{
    font-size: 22px;
    font-weight: 600;
    color: crimson !important;
}